<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Gallery
    link(rel="stylesheet", href="css/main.css")
  body
  h1.text-center simple gallery 
  
  .pagins-wrapper
  .container.wrapper

  .modal-section
    .overlay
    .content.wrapper
      .image
      .controls
        .autor-info
          .autor-avatar
          .autor-name Егор Колесников
        .downloads
          


  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
  script(src="js/main.js")